@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
   }




.cabecalho {
    background-color: #2f2e2e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

.cabecalho-imagem {
    height: 120px;
    display: block;
    margin: 0 auto;
}



.conteudo {
    margin-bottom: 45px;
    border-top: 0.4px solid #fff2e7;
}


.conteudo-principal-escrito {
    font-family: 'Sarala', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    gap: 8px;
   
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 70px;
    color: #000000;
}

.conteudo-principal-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    }


.conteudo-paragrafo-segundo {
    font-family: 'Sarala', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}

.rodape {
    padding-top: 400px;
    
}

.rodape-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;   
    width: auto;
    gap: 500px;
    
    
}

